@font-face {
  font-family: "HelveticaNeueCyr-Black";

  src: url("../fonts/HelveticaNeueCyr-Black.woff") format("woff"), /* Modern Browsers */
    url("../fonts/HelveticaNeueCyr-Black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";

  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), /* Modern Browsers */
    url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-UltraLight";

  src: url("../fonts/HelveticaNeueCyr-UltraLight.woff") format("woff"), /* Modern Browsers */
    url("../fonts/HelveticaNeueCyr-UltraLight.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 100;
  font-style: normal;
}

@mixin helvetica-black {
  font-family: "HelveticaNeueCyr-Black", sans-serif;
  font-weight: 900;
  font-style: normal;
}

@mixin helvetica-roman {
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin helvetica-ul {
  font-family: "HelveticaNeueCyr-UltraLight", sans-serif;
  font-weight: 100;
  font-style: normal;
}

@mixin common-font {
  @include helvetica-roman;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1em;
}

@mixin title-font {
  @include helvetica-black;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: 0.1em;
}


  
  