@import "fonts";
@import "vars";
@import "global";

//start header

.header {
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__promo {
        padding: 57px 0 82px;
        text-align: center;
        position: relative;
        &-text {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 167px;
            @include common-font;
            line-height: 25px;
            text-transform: uppercase;
        }
    }
}

.button-menu {
    position: relative;
    padding-bottom: 44px;
    padding-right: 15px;
    &__btn {
        margin-top: 70px;
        width: 20px;
        cursor: pointer;
        &-stripes {
            height: 2px;
            background-color: #fff;
            & + & {
                margin-top: 7px;
            }
        }
    }
    &__list {
        display: none;
        position: absolute;
        left: 0;
        top: 134px;
        z-index: 10;
        border: 1px solid #0f0f0f;
        &-item {
            width: 200px;
            text-align: center;
            & + & {
                border-top: 1px solid #0f0f0f;
            }
            a {
                display: block;
                padding: 0 15px;
                @include common-font;
                line-height: 50px;
                text-transform: uppercase;
            }
            &:hover {
                a {
                    background-color: #0f0f0f;
                    @include helvetica-black;
                }
            }
            &--additional {
                display: none;
            }
        }
    }
    &:hover .button-menu__list {
        display: block;
    }
}

.list-menu {
    ul {
        display: flex;
    }
    &__item {
        a {
            @include common-font;
            text-transform: uppercase;
            width: 165px;
            text-align: center;
            padding: 74px 10px 46px;
            transition: all 0.3s;
            &:hover {
                background-color: #0f0f0f;
                @include helvetica-black;
            }
        }
        &--active {
            a {
                background-color: #0f0f0f;
                @include helvetica-black;
            }
        }
    }
}

.icon-buttons {
    padding-top: 64px;
    &__search {
        width: 20px;
        height: 26px;
        background-image: url(../images/icons/search.png);
        background-repeat: no-repeat;
        background-position: 0 6px;
        margin-right: 45px;
    }
    &__apple {
        width: 22px;
        height: 26px;
        background-image: url(../images/icons/apple.png);
    }
}

//end header
//start quality

.quality {
    &__inner {
        position: relative;
    }
    &__video {
        position: absolute;
        left: -230px;
        top: 0;
        img {
            display: block;
        }
    }
    &__links {
        margin-left: 263px;
        display: flex;
        a {
            @include common-font;
            line-height: 90px;
            background-color: #171716;
            transition: all 0.3s;
            text-align: center;
            padding: 0 10px;
            &:hover {
                background-color: $blue;
            }
        }
    }
    &__link {
        &--specs {
            width: 225px;
        }
        &--buy {
            width: 140px;
        }
    }
    &__content {
        width: 1107px;
        height: 901px;
        margin-left: 263px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

}



//end quality
